/* @lost flexbox flex; */

$fg-color: #212121;
$bg-color: #faf0e8;
$banner-height: 100px;
/* $banner-lr-margin: 25px; */

html {
    font-size: 1em;
    /* lost-utility: edit; */
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}

.title, .subtitle, .author, .date {
    margin: 0;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

hr {
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
    color: #888;
    border-width: 1px;
    border-style: solid;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-color: $fg-color;
    background: $bg-color;
    line-height: 1.45;
}

.author, .author-date-sep, .date {
    float: left;
}

.article-content {
    clear: both;
    margin-top: 3em;
}

.top-header {
    /* position: relative; */
    clear: both;
}

.banner {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: $banner-height;
}

.banner-logo {
    position: relative;
    float: left;
    width: 15%;
    padding-left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-title {
    position: relative;
    float: left;
    width: 70%;
    font-size: 3em;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

#main > article {
    margin: 4px;
    padding: 5px;
    /* border: 1px solid #cccc33; */
    /* border-radius: 7pt; */
    /* background: #dddd88; */
    flex: 3 1 60%;
    order: 2;
}

#main > nav {
    margin: 4px;
    padding: 5px;
    /* border: 1px solid #8888bb; */
    /* border-radius: 7pt; */
    /* background: #ccccff; */
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    /* border: 1px solid #8888bb; */
    /* border-radius: 7pt; */
    /* background: #ccccff; */
    flex: 1 6 20%;
    order: 3;
}

header, footer {
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    /* border: 1px solid #eebb55; */
    /* border-radius: 7pt; */
    /* background: #ffeebb; */
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        /* Return them to document order */
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 135px;
        max-height: 135px;
    }
}
