@lost flexbox flex;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    lost-utility: edit;
}

.banner {
    lost-center: 700px;
}

.banner-logo {
    lost-column: 1/8;
}

.banner-title {
    font-size: 150%;
    lost-column: 1/2;
    
}

.main-content {
    lost-center: 700px;
    height: 100%;
}

/* div { */
/*     lost-column: 1/2; */
/* } */
